/IF2000_introducción progra/nbproject/private/
/IF2000_introducción progra/build/
/IF2000_introducción progra/dist/
/Quizzes/nbproject/private/
/Quizzes/build/
/Quizzes/dist/
/IF2000_Laboratorio3/nbproject/private/
/IF2000_Laboratorio3/build/
/IF2000_Laboratorio3/dist/
/ArraysMatrices/nbproject/private/
/ArraysMatrices/build/
/IF2000_Laboratory4/nbproject/private/
/IF2000_Laboratory5/nbproject/private/
/IF2000_Laboratory5/build/
/IF2000_Laboratory5/dist/
/IF2000_Laboratory5_Checkers_Game/nbproject/private/
/IF2000_Laboratory5_Checkers_Game/build/
/IF2000_QuizRegistroPersona/nbproject/private/
/IF2000_QuizPersonRegistration/nbproject/private/
/IF2000_QuizPersonRegistration/build/
/IF2000_QuizPersonRegistration/dist/
/JavaApplication32/nbproject/private/
/First_Exam_Practice/nbproject/private/
/First_Exam_Practice/build/
/First_Exam_Practice/dist/
