/IF2000_introducción progra/nbproject/private/
/IF2000_introducción progra/build/
/IF2000_introducción progra/dist/
/Quizzes/nbproject/private/
/Quizzes/build/
/Quizzes/dist/
/IF2000_Laboratorio3/nbproject/private/
/IF2000_Laboratorio3/build/
/IF2000_Laboratorio3/dist/
